/* 
    Document   : farm
    Created on : Feb 20, 2010, 12:00:26 PM
    Author     : mark
    Description:
        Purpose of the stylesheet follows.
*/

#content
{
 background: #526329  url(../images/farm/content.gif) repeat-x  center;
 overflow: auto;
}

#farmWrapper
{
    width: 955px;
    height: 672px;
    position: relative;
}
#base
{
    width: 955px;
    height: 503px;
    display: block;
    background: #526329;
}
#panel
{
    width: 955px;
    height: 109px;
    margin-top: 22px;
    margin-right: 17px;
    display: block;
    background: #526329;
    padding-bottom: 4px;
}
#bar
{
    margin-top: 10px;
    width: 955px;
    height: 24px;
    display: block;
    background: #6f8833;
}

#farm
{
    width: 721px;
    height: 503px;
    display: block;
    float: right;
    background: url(../images/farm/farm.png) no-repeat  center;
    position: relative;
}
#section-1
{
    display:block;
    height:225px;
    position:absolute;
    right:255px;
    top:31px;
    width:223px;
}
#section-2
{
    
    display:block;
    height:225px;
    position:absolute;
    right:486px;
    top:78px;
    width:223px;
}
#section-3
{
    display:block;
    height:225px;
    position:absolute;
    right:24px;
    top:169px;
    width:223px;
}
#section-4
{
    display:block;
    height:225px;
    position:absolute;
    right:255px;
    top:263px;
    width:223px;
}
#farmOwner
{
    background: url(../images/farm/farmOwner-bg.png) no-repeat  center;
    display:block;
    height:164px;
    position:absolute;
    left:21px;
    top:309px;
    width:78px;
}
#farmOwner .avatarImg
{
    border: 1px solid #FFFFFF;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 43px;
    right: 15px;
}
#farmOwner .avatarName
{
    width: 70px;
    height: 40px;
    position: absolute;
    top: 115px;
    right: 5px;
    text-align: center;
}
#farmOwner .avatarName a
{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
#accessoryPlaceDown
{
    Width: 112px;
    Height: 103px;
    display: block;
    position: absolute;
    top: 321px;
    right: 500px;
}
#accessoryPlaceDown .silo
{
    background: url(../images/farm/silo.png) no-repeat;
    Width: 112px;
    Height: 103px;
    display: block;
}
#accessoryPlaceTop
{
    display:block;
    height:120px;
    position:absolute;
    right:5px;
    top:5px;
    width:203px;
}
#accessoryPlaceTop .scarecrow
{
    Width: 131px;
    Height: 121px;
    display: block;
    background: url(../images/farm/scarecrow.png);
    float: right;
}
#accessoryPlaceTop .dog
{
    Width: 72px;
    Height: 77px;
    display: block;
    margin-top: 40px;
    background: url(../images/farm/dog.png) no-repeat;
    float: left;
}
.unPlow
{
    background:url(../images/farm/unPlowGround.jpg);
}
.plow
{
    background:url(../images/farm/plowGround.jpg);
    display:block;
    height:225px;
    width:223px;
}
.plantGround
{
    display:block;
    height:225px;
    width:223px;
}
.plant-low
{
    background:url(../images/farm/plantGrowth/low.png) top right;
}
.plant-low-sick
{
    background:url(../images/farm/plantGrowth/low-sick.png) top right;
}
.plant-middle
{
    background:url(../images/farm/plantGrowth/middle.png) top right;
}
.plant-middle-sick
{
    background:url(../images/farm/plantGrowth/middle-sick.png) top right;
}
.plant-high
{
    background:url(../images/farm/plantGrowth/high.png) top right;
}
.plant-high-sick
{
    background:url(../images/farm/plantGrowth/high-sick.png) top right;
}
.section-2-off
{
    background:url(../images/farm/section-2-locker.png) no-repeat;
    width: 191px;
    height: 224px;
    display: block;
    padding-right: 15px;
}
.section-3-off
{
    background:url(../images/farm/section-3-locker.png) no-repeat;
    width: 191px;
    height: 166px;
    display: block;
    margin-top: 60px;
}
.section-4-off
{
    background:url(../images/farm/section-4-locker.png) no-repeat;
    width: 191px;
    height: 224px;
    display: block;
    margin-top: 15px;
}
#farmAction
{
    width: 211px;
    height: 80px;
    display: block;
    position: absolute;
    top: 414px;
    right: 17px;
}
#farmAction a
{
    width: 58px;
    height: 58px;
    display: block;
    margin-right: 13px;
    margin-top: 10px;
    float: left;
}
.plow-botton-on
{
    background: url(../images/farm/farm-action-on.png) no-repeat;
    background-position: 0 0;
}
.plow-botton-off
{
    background: url(../images/farm/farm-action-off.png) no-repeat;
    background-position: 0 0;
}
.spray-botton-on
{
    background: url(../images/farm/farm-action-on.png) no-repeat;
    background-position: -58px 0;
}
.spray-botton-off
{
    background: url(../images/farm/farm-action-off.png) no-repeat;
    background-position: -58px 0;
}
.reap-botton-on
{
    background: url(../images/farm/farm-action-on.png) no-repeat;
    background-position: -116px 0;
    cursor: pointer;
    margin-right: 0 !important;
}
.reap-botton-off
{
    background: url(../images/farm/farm-action-off.png) no-repeat;
    background-position: -116px 0;
    margin-right: 0 !important;
}
.gun-botton-on
{
    background: url(../images/farm/farm-action-on.png) no-repeat;
    background-position: -174px 0;
    cursor: pointer;
}
.gun-botton-off
{
    background: url(../images/farm/farm-action-off.png) no-repeat;
    background-position: -174px 0;
}
.help-botton-on
{
    background: url(../images/farm/farm-action-on.png) no-repeat;
    background-position: -232px 0;
    cursor: pointer;
    margin-right: 0 !important;
}
.help-botton-off
{
    background: url(../images/farm/farm-action-off.png) no-repeat;
    background-position: -232px 0;
    margin-right: 0 !important;
}


#sidebar
{
    width: 221px;
    height: 503px;
    display: block;
    float: left;
    margin-right: 7px;
}
#farmReset
{
    width: 221px;
    height: 70px;
    display: block;
    background: url(../images/farm/farmReset-bg.png) no-repeat  center;
    position: relative;
}
#help
{
    position: absolute;
    top: 18px;
    right: 26px;
}
#help a
{
    background: url(../images/farm/help.png) no-repeat;
    background-position: 0 -42px;
    width: 42px;
    height: 42px;
    display: block;
}
#help a:hover
{
    background-position: 0 0;
}
#resetGame
{
    position: absolute;
    top: 18px;
    right: 89px;
}
#resetGame a
{
    background: url(../images/farm/resetGame.png) no-repeat;
    background-position: 0 -42px;
    width: 42px;
    height: 42px;
    display: block;
}
#resetGame a:hover
{
    background-position: 0 0;
}
#resetLevel
{
    position: absolute;
    top: 18px;
    right: 152px;
}
#resetLevel a
{
    background: url(../images/farm/resetLevel.png) no-repeat;
    background-position: 0 -42px;
    width: 42px;
    height: 42px;
    display: block;
}
#resetLevel a:hover
{
    background-position: 0 0;
}
#farmInformation
{
    width: 221px;
    height: 117px;
    display: block;
    background: url(../images/farm/info.png) no-repeat  center;
    position: relative;
}
#farmInformationPartner
{
    width: 221px;
    height: 117px;
    display: block;
    background: url(../images/farm/info.png) no-repeat  center;
    position: relative;
    margin-top: 50px;
}
#farmInformationDetails
{
    display:block;
    height:67px;
    position:absolute;
    right:50px;
    top:40px;
    width:160px;
}
.farmInfoItem
{
    width: 160px;
    float: right;
    height:21px;
}
.infoValue
{
    color: #ffde00;
    margin-right: 7px;
    font-weight: bold;
}
#farmStatistic div.innerStatistic
{
    margin-top: 6px;
    width: 221px;
    height: 103px;
    display: block;
}
.farmStatisticOn
{
    background: url(../images/farm/statistic-on.png) no-repeat  center;
    position: relative;
}
.farmStatisticOff
{
    background: url(../images/farm/statistic-off.png) no-repeat  center;
    position: relative;
}
.farmStatisticOff span
{
    position: absolute;
    top: 38px;
    right:103px;
}
#lessStatistic
{
    width: 221px;
    height: 103px;
    display: block;
    position: relative;
}
.statisticIcon
{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 12px;
    right:10px;
    border-left:1px solid white;
    padding-left: 5px;
}
.healthGood
{
    background: url(../images/farm/healthGood.png) no-repeat  center right;
    display: block;
    width: 76px;
    height: 76px;
}
.healthMiddle
{
    background: url(../images/farm/healthMiddle.png) no-repeat  center right;
    display: block;
    width: 76px;
    height: 76px;
}
.healthBad
{
    background: url(../images/farm/healthBad.png) no-repeat  center right;
    display: block;
    width: 76px;
    height: 76px;
}
.healthVeryBad
{
    background: url(../images/farm/healthVeryBad.png) no-repeat  center right;
    display: block;
    width: 76px;
    height: 76px;
}
.statisticText
{
    display:block;
    height:80px;
    position:absolute;
    right:100px;
    top:14px;
    width:110px;
}
.statisticTextHeader
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    width: 100px;
    display: block;
}
.statisticSync
{
    font-weight: bold;
    color:#00FF00;
}
.syncIcon
{
    vertical-align: middle;
}
.expandStatistic
{
    position: absolute;
    top:66px;
    right: 99px;
    cursor: pointer;
    background:  url(../images/farm/addMinus.png);
    background-position: 0 18px;
    width: 18px;
    height: 18px;
    display: block;
}
.collapseStatistic
{
    position: absolute;
    top:81px;
    right: 199px;
    cursor: pointer;
    background:  url(../images/farm/addMinus.png);
    background-position: 0 0;
    width: 18px;
    height: 18px;
    display: block;
}
#moreStatistic
{
    display: none;
    width: 221px;
    height: 103px;
    position: relative;
}
#moreStatistic div.moreDivation
{
    width: 201px;
    height: 35px;
    display: block;
    float: right;
    margin: 13px 11px 0 0;
    position: relative;
}
#moreStatistic div span.label
{
    font-size: 14px;
    font-weight: bold;
}
#moreStatistic div span.value
{
    font-size: 14px;
    font-weight: bold;
    color: #ffde00;
}
#farmTime
{
    margin-top: 6px;
    position: relative;
}
#farmTime div.on
{
    width: 221px;
    height: 108px;
    display: block;
    background: url(../images/farm/time.png) no-repeat  center;
}
#farmTime div.off
{
    width: 221px;
    height: 108px;
    display: block;
    background: url(../images/farm/time-off.png) no-repeat  center;
}
#farmTimeHolder
{
    position: absolute;
    top: 38px;
    right: 14px;
}
#plantGrowthHolder div { float: left; width: 10px; height: 21px;
    background: url(../images/farm/clock-big.png) no-repeat 0px 0px; }
#plantGrowthHolder div.image0 { background-position: -99px 0px; }
#plantGrowthHolder div.image1 { background-position: -0px 0px; }
#plantGrowthHolder div.image2 { background-position: -11px 0px; }
#plantGrowthHolder div.image3 { background-position: -22px 0px; }
#plantGrowthHolder div.image4 { background-position: -33px 0px; }
#plantGrowthHolder div.image5 { background-position: -44px 0px; }
#plantGrowthHolder div.image6 { background-position: -55px 0px; }
#plantGrowthHolder div.image7 { background-position: -66px 0px; }
#plantGrowthHolder div.image8 { background-position: -77px 0px; }
#plantGrowthHolder div.image9 { background-position: -88px 0px; }
#plantGrowthHolder div.imageDay { background-position: -120px 0px; }
#plantGrowthHolder div.imageSep { background-position: -110px 0px; }
#plantGrowthHolder div.imageSpace { background-position: -130px 0px; }


.resourceCounter div { float: left; width: 10px; height: 21px;
    background: url(../images/farm/clock-small.png) no-repeat 0px 0px; }
.resourceCounter div.image0 { background-position: -81px 0px; }
.resourceCounter div.image1 { background-position: -0px 0px; }
.resourceCounter div.image2 { background-position: -9px 0px; }
.resourceCounter div.image3 { background-position: -18px 0px; }
.resourceCounter div.image4 { background-position: -27px 0px; }
.resourceCounter div.image5 { background-position: -36px 0px; }
.resourceCounter div.image6 { background-position: -45px 0px; }
.resourceCounter div.image7 { background-position: -54px 0px; }
.resourceCounter div.image8 { background-position: -63px 0px; }
.resourceCounter div.image9 { background-position: -72px 0px; }
.resourceCounter div.imageDay { background-position: -99px 0px; }
.resourceCounter div.imageSep { background-position: -90px 0px; }
.resourceCounter div.imageSpace { background-position: -108px 0px; }

.reapTimeHolder
{
    height: 20px;
    width: 160px;
    display: block;
    margin-bottom: 3px;
}
.reapTimeHolder .label
{
    font-size: 14px;
    font-weight: bold;
    width: 22px;
    float: right;
}
.reapTimeHolder .time
{
    float: left;
}
.reapCounter{height:16px;width:126px;display: block;}
.resourceTimeHolder
{
    height: 15px;
    width: 160px;
    display: block;
    margin-bottom: 3px;
}
.resourceTimeHolder .label
{
    width: 22px;
    float: right;
}
.resourceTimeHolder .time
{
    float: left;
}
.resourceCounter{height:13px;width:125px;float: right}

#farmStatus
{
    margin-top: 6px;
    position: relative;
}
#farmStatus div.on
{
    background: url(../images/farm/status-on.png) no-repeat  center;
    width: 221px;
    height: 77px;
    display: block;
}
.statusText
{
    display:block;
    height:42px;
    position:absolute;
    right:69px;
    top:27px;
    width:140px;
    color: #FFDE00;
}
#farmStatus div.off
{
    background: url(../images/farm/status-off.png) no-repeat  center;
    width: 221px;
    height: 78px;
    display: block;
}
#farmInventory
{
    width: 107px;
    height: 108px;
    display: block;
    background: url(../images/farm/inventory.png) no-repeat  center;
    float: right;
}
#partnerFarmInventory
{
    width: 107px;
    height: 108px;
    display: block;
    background: url(../images/farm/yourAttackInventory.png) no-repeat  center;
    float: right;
}
#farmAccessory
{
    width: 108px;
    height: 108px;
    display: block;
    background: url(../images/farm/accessory.png) no-repeat  center;
    margin-right: 8px;
    float: right;
}
#partnerInventory
{
    width: 108px;
    height: 108px;
    display: block;
    background: url(../images/farm/partnerInventory.png) no-repeat top;
    margin-right: 8px;
    float: right;
    text-decoration: none;
}
span.partnerLink
{
    color: #ffffff;
    display: block;
    color: #FFFFFF;
    margin-top: 72px;
    text-align: center;
    font-weight: bold;
}
#farmResource
{
    width: 243px;
    height: 108px;
    display: block;
    background: url(../images/farm/resource.png) no-repeat  center;
    margin-right: 8px;
    float: right;
    position: relative;
}
.waterResource
{
    display:block;
    height:77px;
    position:absolute;
    right:138px;
    top:14px;
    width:37px;
}
#waterAmount
{
    color:#FFFFFF;
    display:block;
    font-weight:bold;
    height:16px;
    position:absolute;
    right:2px;
    text-align:center;
    top:24px;
    width:32px;
}
.muckResource
{
    display:block;
    height:77px;
    position:absolute;
    right:13px;
    top:14px;
    width:37px;
}
#muckAmount
{
    color:#FFFFFF;
    display:block;
    font-weight:bold;
    height:16px;
    position:absolute;
    right:2px;
    text-align:center;
    top:24px;
    width:32px;
}
.muckBuy
{
    display: block;
    background: url(../images/farm/buy.png) no-repeat;
    background-position: -37px 0;
    height:15px;
    position:absolute;
    top:61px;
    width:37px;
}
.muckBuy:hover
{
   background-position: -37px -15px;
}
.muckSpread
{
    background: url(../images/farm/addResourceToPlant.png) no-repeat;
    background-position: -23px 0;
    display:block;
    height:11px;
    position:absolute;
    right:5px;
    top:3px;
    width:24px;
}
.muckSpread:hover
{
   background-position: -23px -11px;
}
.muckSpreadIcon
{
    display:block;
    height:80px;
    position:absolute;
    right:61px;
    top:14px;
    width:44px;
}

.waterSpreadIcon
{
    display:block;
    height:80px;
    position:absolute;
    left:14px;
    top:14px;
    width:44px;
}

.waterBuy
{
    display: block;
    background: url(../images/farm/buy.png) no-repeat;
    background-position: 0 0;
    height:15px;
    position:absolute;
    top:61px;
    width:37px;
}
.waterBuy:hover
{
   background-position: 0 -15px;
}
.waterSpread
{
    background: url(../images/farm/addResourceToPlant.png) no-repeat;
    background-position: 0 0;
    display:block;
    height:11px;
    position:absolute;
    right:5px;
    top:3px;
    width:23px;
}
.waterSpread:hover
{
   background-position: 0 -11px;
}
#partnerHints
{
    background: url(../images/farm/farmTransaction-bg.png) no-repeat  center;
    width: 221px;
    height: 108px;
    display: block;
    margin-right: 11px;
    float: right;
    position: relative;
}
#partnerHints div
{
    background: url(../images/farm/partnerHint-bg.png) no-repeat  left bottom;
    width: 216px;
    height: 88px;
    padding: 10px 5px 10px 0;
    display: block;

}
#partnerHints div ul
{
    list-style: square;
}
#partnerHints div ul li
{
    color: #d4e981;
    margin: 0 auto;
    width: 180px;
}
#farmMission
{
    margin-right: 11px;
    float: right;
}
#farmMission div
{
    width: 221px;
    height: 108px;
    display: block;
    position: relative;
}
#farmMission div span.title
{
    height:20px;
    right:91px;
    top:6px;
    width:120px;
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
}
#farmMission div span.text
{
    height:68px;
    right:92px;
    top:33px;
    width:120px;
    display: block;
    position: absolute;
}
#farmMission div span.text a
{
    background: url(../images/farm/missionStart.png);
    background-position: 0 0;
    height:17px;
    width:61px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
#farmMission div span.text a:hover
{
    background-position: 0 -17px;
}
#farmMission .on
{
    background: url(../images/farm/mission-on.png) no-repeat  center;
}
#farmMission .off
{
    background: url(../images/farm/mission-off.png) no-repeat  center;
}

#farmTransaction
{
    margin-right: 11px;
    float: right;
    position: relative;
    width: 221px;
    height: 108px;
    display: block;
    background: url(../images/farm/farmTransaction-bg.png) no-repeat  center;
}
#farmTransaction .title
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 83px;
    height: 19px;
    display: block;
    background: url(../images/farm/farmTransactionTitle.png) no-repeat  center;
}
#farmTransaction .transactions
{
    position: absolute;
    top: 31px;
    right: 10px;
    width: 200px;
    height: 75px;
    display: block;
}
.transactions div
{
    width: 200px;
    height: 25px;
    display: block;
    color: #d4e981;
}
.transactions div img
{
    margin-left: 5px;
    vertical-align: middle;
}
#farmEquipment
{
    margin-right: 11px;
    float: right;
    position: relative;
}
#farmEquipment div.on
{
    width: 221px;
    height: 108px;
    display: block;
    background: url(../images/farm/mission-on.png) no-repeat  center;
}
#farmEquipment div.off
{
    width: 221px;
    height: 108px;
    display: block;
    background: url(../images/farm/mission-off.png) no-repeat  center;
}
#farmEquipment div span.title
{
    height:20px;
    right:91px;
    top:6px;
    width:120px;
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
}
#farmEquipment div span.text
{
    height:68px;
    right:92px;
    top:33px;
    width:120px;
    display: block;
    position: absolute;
}
#farmEquipment div span.icon
{
    display:block;
    height:58px;
    position:absolute;
    right:18px;
    top:24px;
    width:58px;
}


.inventoryContainer
{
    overflow:auto;
    margin-bottom: 25px;
}
.inventoryTitle
{
    width: 74px;
    height:20px;
    display: block;
    color: #FFFFFF;
    background: url(../images/farm/inventory-header.png) no-repeat  center;
    text-align: center;
    font-size: 9px;
}
.inventoryVerticalLine
{
    border-bottom: 1px solid #9f9f9f;
    width: 342px;
    margin: 6px 0 3px 0;
}
.inventoryTitle span
{
    display: block;
    padding-top: 3px;
    text-align: center;
    font-size: 9px;
}

.inventoryInner
{
    margin-top: 10px;
}
.inventorySmallBox
{
    background:transparent url(../images/farm/accessory-small.png) no-repeat scroll center center;
    display:block;
    float:right;
    height:78px;
    margin-bottom:10px;
    margin-left:10px;
    width:123px;
    position: relative;

}
.inventoryBigBox
{
    background:transparent url(../images/farm/accessory-big.png) no-repeat scroll center center;
    display:block;
    float:right;
    height:78px;
    margin-bottom:10px;
    margin-left:10px;
    width:200px;
    position: relative;
    
}
.inventoryInner img,.inventoryBigBox img
{
    position: absolute;
    top: 8px;
    right: 7px;
}
.inventorySmallBox .inventoryName,.inventoryBigBox .inventoryName
{
    position: absolute;
    top: 8px;
    right: 70px;
    font-weight: bold;
    font-size: 14px;
}
.inventorySmallBox .inventoryNameOnly
{
    position: absolute;
    top: 26px;
    right: 68px;
    font-weight: bold;
    font-size: 14px;
}
.inventorySmallBox .inventoryCounter
{
    background:transparent url(../images/farm/inventory-counter.png) no-repeat scroll center center;
    width:28px;
    height:28px;
    display: block;
    position: absolute;
    top: 30px;
    right: 75px;
    font-weight: bold;
    font-size: 14px;
}
.inventoryBigBox .inventoryCounter
{
    display:block;
    height:33px;
    position:absolute;
    right:68px;
    top:27px;
    width:98px;
}
.inventorySmallBox .inventoryCounter span
{
    text-align: center;
    width:28px;
    display: block;
    padding-top: 6px;
}
.inventoryBigBox .inventoryCounter span
{
    text-align: center;
    width:121px;
    height:16px;
    display: block;
    padding-top: 3px;
}

.buyInventoryContext
{
    width: 450px;
    height: 120px;
    display: block;
    background: #eee;
}
.buyAccessoryDetails
{
    background: url(../images/farm/buyAccessoryBorder.png) no-repeat  center;
    width: 494px;
    height: 103px;
    display: block;
    float: right;
    margin-left: 15px;
    position: relative
}
.attackPartnerDetails
{
    background: url(../images/farm/attackAccessoryBorder.png) no-repeat  center;
    width: 495px;
    height: 88px;
    display: block;
    float: right;
    margin-left: 15px;
    position: relative
}
.buyAccessoryDetails .accessoryImg,.attackPartnerDetails .accessoryImg
{
    width: 80px;
    height: 100px;
    display: block;
    position: absolute;
}
.accessoryImg img
{
    position: absolute;
    top: 16px;
    right: 12px;
}
.buyAccessoryDetails .accessoryDetail,.attackPartnerDetails .accessoryDetail
{
    width: 263px;
    height: 80px;
    margin: 10px 0;
    display: block;
    position: absolute;
    right: 80px;
}
.accessoryDetail .accessoryName
{
    width: 263px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    float: right;
}
.accessoryDetail .accessorySpecific
{
    width: 125px;
    font-weight: bold;
    float: right;
}
.accessorySpecific .title
{
    color: #23bc00;
}

.accessoryDescription
{
    width: 240px;
    height: 60px;
    display: block;
    float: right;
    margin-top: 10px;
}
.buyAccessoryReport
{
    position: absolute;
    right: 353px;
    top: 22px;
    width: 123px;
    height: 62px;
    display: block;
    padding: 13px 10px 0 0;
    color: #b1c05b;
}
.buyAccessoryButton
{
    width: 183px;
    height: 18px;
    display: block;
    margin-bottom: 5px;
    position: absolute;
    right: 351px;
}
.buyAccessoryButton a
{
    background: url(../images/farm/buyAccessoryButton.png) no-repeat  center;
    background-position: 0 0;
    width: 58px;
    height: 17px;
    display: block;
}
.buyAccessoryButton a:hover
{
    background-position: 0 -17px;
}
.attackPartnerButton
{
    width: 183px;
    height: 18px;
    display: block;
    margin-bottom: 5px;
    position: absolute;
    right: 351px;
}
.attackPartnerButton a
{
    background: url(../images/farm/attackButton.png) no-repeat  center;
    background-position: 0 0;
    width: 78px;
    height: 17px;
    display: block;
}
.attackPartnerButton a:hover
{
    background-position: 0 -17px;
}

.buyAccessoryButton span.disableBuyButton
{
    background: url(../images/farm/buyAccessoryButton.png) no-repeat  center;
    background-position: 0 -34px;
    width: 58px;
    height: 17px;
    display: block;
    cursor: default;
}
.buyAccessoryCategory
{
    width: 343px;
    height: 20px;
    display: block;
    float: right;
    margin-top: 5px;
}
.buyAccessoryCategoryItem
{
    background: url(../images/farm/buyAccessoryCategory.png) no-repeat ;
    background-position: 0 0;
    width: 61px;
    height: 17px;
    display: block;
    float: right;
    margin-left:5px;
    text-align: center;
    cursor: pointer;
}
.buyAccessoryCategoryItem:hover
{
    background-position: 0 -17px;
}
.attackPartnerCategoryItem
{
    background: url(../images/farm/attackAccessoryCategory.png) no-repeat ;
    background-position: 0 0;
    width: 61px;
    height: 17px;
    display: block;
    float: right;
    margin-left:5px;
    text-align: center;
    cursor: pointer;
}
.attackPartnerCategoryItem:hover
{
    background-position: 0 -17px;
}
.buyCatDisable
{
    background: url(../images/farm/buyAccessoryCategory.png) no-repeat ;
    background-position: 0 -34px;
    width: 61px;
    height: 17px;
    display: block;
    float: right;
    margin-left:5px;
    text-align: center;
}
.accessoryBuyItem
{
    background: #333;
}

#missionBoxHolder
{
    background: url(../images/farm/missionBoxBorder.png) no-repeat  center;
    width: 303px;
    height: 303px;
    display: block;
    position: relative;
    float: right;
}
#missionBoxHolder .levelHolder
{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFFFFF;
    font-size: 20px;

}
#missionBoxHolder .missionDetailsHolder
{
    background: url(../images/farm/missionDetailsHolder.png) no-repeat  top right;
    width: 266px;
    height: 22px;
    display: block;
    position: absolute;
    top: 50px;
    right: 20px;
    color: #FFFFFF;
    padding: 2px 10px 0 0;
}
#missionBoxHolder .plantHolder
{
    
    width: 265px;
    height: 215px;
    display: block;
    position: absolute;
    top: 80px;
    right: 20px;
    display: none;
}
.plantHolder .plantAvatar
{
    width: 58px;
    height: 58px;
    display: block;
    float: right;
}
.plantHolder .plantName
{
    width: 190px;
    height: 25px;
    display: block;
    float: left;
    text-align: right;
    font-size: 25px;
    color: #FFFFFF;
    margin: 10px 10px 0 0;
}
.addPlant
{
    width: 190px;
    height: 40px;
    display: block;
    float: left;
    text-align: right;
    margin: 35px 10px 0 0;
}
.addPlant a
{
    background: url(../images/farm/addPlant.png);
    background-position: 0 0;
    width: 129px;
    height: 35px;
    display: block;
    text-align: right;
}
.addPlant a:hover
{
    background-position: 0 -35px;
}
.plantDetails
{
    width: 265px;
    height: 100px;
    display: block;
    float: right;
    margin-top: 12px;
}
.plantHolder .plantDetails .detailsTitle
{
    color: #b3e357;
}
#missionEquipment
{
    background: url(../images/farm/missionEquipmentBorder.png);
    width: 230px;
    height: 118px;
    display: block;
    float: right;
    margin-right: 10px;
}
#missionEquipment .equipmentTitle
{
    font-size: 15px;
    color: #FFFFFF;
    width: 230px;
    font-weight: bold;
    margin: 12px 18px 0 0;
}
#missionEquipment .details
{
    width: 230px;
    margin-right:18px;
}
#missionEquipment .details .equipImg
{
    width: 58px;
    height: 58px;;
    display: block;
    float: right;
    margin-top: 10px;
}
#missionEquipment .details .equipContext
{
    width: 130px;
    height: 45px;;
    display: block;
    float: right;
    margin: 20px 15px 0 0;
}

#plantCategory
{
    display:block;
    height:60px;
    position:absolute;
    top:345px;
    width:308px;
}
#plantCategory .category
{
    background: url(../images/farm/missionCategory.png);
    background-position: 0 0;
    display:block;
    float:right;
    height:17px;
    margin:3px 0 0 3px;
    text-align:center;
    width:74px;
    cursor: pointer;
}
#plantCategory .category:hover
{
    background-position: 0 -17px;
}

#reapConfirm
{
    background: url(../images/farm/reapConfirm.png) center no-repeat;
    width: 538px;
    height: 333px;
    position: relative;
    margin-right: 11px;
}
#reapConfirm .reapDetails
{
    height: 250px;
    width: 300px;
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 10px 10px 0 0;
}
.reapDetails .farmTitle
{
    width: 285px;
    height: 35px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}
.reapDetails .reapMissionItem
{
    width: 300px;
    height: 20px;
    float: right;
    color: #FFFFFF;
    float: right;
}
.reapMissionItem .header
{
    color: #b3e358;
}

#reapConfirm .truck
{
    height: 100px;
    width: 175px;
    display: block;
    position: absolute;
    top: 210px;
    left: 41px;
}
#reapConfirm .levelUpgrade
{
    height: 70px;
    width: 300px;
    display: block;
    position: absolute;
    top: 282px;
    right: 16px;
    cursor: pointer;
}
.levelUpgrade .levelIncrease
{
    background: url(../images/farm/levelUpgrade.png) center no-repeat;
    width: 130px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.levelIncrease div
{
    color: #a7ff00;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    width: 30px;
}
.levelIncrease div.oldLevel
{
    float: left;
}
.levelIncrease div.newLevel
{
    float: right;
}
.levelUpgrade .levelIncreaseDescription
{
    width: 300px;
    height: 23px;
    display: block;
    margin: 0 auto;
    color: #f1e400;
    text-align: center;
}
.levelUpgrade .levelEnded
{
    width: 250px;
    height: 60px;
    display: block;
    margin: 0 auto;
    color: #f1e400;
    text-align: center;
    padding-top: 8px;
}

.errorMess
{
    background: url(../images/attention.png) top right no-repeat;
    padding-right: 40px;
    float: right;
    margin:8px 12px 0 0;
    width:200px;
    height: 30px;
    display:block;
}

.errorMessBuyAccessory
{
    background: url(../images/attention.png) top right no-repeat;
    padding-right: 40px;
    float: right;
    width:80px;
    height: 30px;
    display:block;
    font-size: 9px;
}

.wizard
{
    background: url(../images/farm/wizard-bg.png) repeat;
    width: 150px;
    padding: 2px 10px 10px 5px;
    border: 2px solid #9E3800;
    z-index: 2;
    position: absolute;
    display: none;
}
.wizard .wizardClose
{
    float: left;
    color: #923800;
    clear: right;
    font-weight: bold;
    cursor: pointer;

}
.wizard .wizardArrow
{
    background: url(../images/farm/wizardArrow.png) no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 auto;
    clear: both;
}
.wizard .wizardUpArrow
{
    background: url(../images/farm/wizardUp-arrow.png) no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 auto;
    clear: both;
}
.wizard .wizardClose:hover
{
    color: white;
}
.wizard .wizardContent
{
    float: right;
    font-size: 11px;
}

#attackHolder
{
    position: fixed;
    top: 200px;
    right: 0;
    width: 56px;
    overflow: auto;
    z-index: 2;
}
#attackHolder .header
{
    background: url(../images/farm/attackBox-header.png) no-repeat;
    width: 56px;
    float: right;
    height: 28px;
    display: block;
}
#attackHolder .details
{
    background: #2b4c1b url(../images/farm/attackBox-content.png) repeat-y;
    width: 56px;
    float: right;
    overflow: auto;
    display: block;
    text-align: center;
    min-height: 40px
}
#attackHolder .footer
{
    background: #2b4c1b url(../images/farm/attackBox-footer.png) no-repeat;
    /*
    * TODO badan baiad ino uncomment konam alan to ie moshkel dare
    width: 56px; */
    height: 3px;
    display: block;
    float: right;
}
#attackHolder .details img
{
    width: 34px;
    float: right;
    height: 34px;
    display: block;
    background: #2b4c1b url(../images/farm/attackBox-item.png) no-repeat;
    margin: 3px 10px 3px 3px;
}