* { padding: 0; margin: 0; }

body {
 font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
 font-size: 12px;
 direction: rtl;
 color: #FFFFFF;
 text-decoration: none;
}

input
{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

p {
 padding: 10px;
}

#wrapper {
 margin: 0 auto;
}

.main
{
    width: 955px;
    margin : 0 auto;
}



#header {
 height: 157px;
 background: #930044 url(../images/home/wrapper-header.png) repeat-x  center;

}

#header .main
{
 background:  url(../images/home/header-main.png) no-repeat right;
 display: block;
 height: 157px;
 position: relative;
}
#navigation
{
    height: 20px;
    display: block;
    position: absolute;
    top: 54px;
    right: 270px;
}
#farmNameHolder
{
    height: 36px;
    width: 380px;
    display: block;
    position: absolute;
    top: 95px;
    right: 270px;
    padding-top: 4px;
}
#farmNameHolder a
{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#search
{
    width: 290px;
    height: 20px;
    position: absolute;
    top: 54px;
    left: 10px;
}
#search .label
{
    font-size: 11px;
    font-weight: bold;
    float: right;
    width: 45px;
}
#search .searchInput
{
    float: right;
    width: 193px;
    height: 16px;
    background: url(../images/profile/search.gif) no-repeat center;
}
#search .searchInput input
{
    border: 0;
    height: 15px;
    width: 100px;
    margin-right:3px;
}
#search .searchInput select
{
    border: 0;
    height: 15px;
    width: 70px;
    margin-right:12px;
    font-size: 10px;
    font:tahoma;
}
#search .searchSubmit
{
    background: url(../images/profile/search_submit.gif) no-repeat center;
    background-position: 0 0;
    display: block;
    border: 0 !important;
    width: 44px;
    height: 16px;
    float: left;
    font-size: 11px;
    cursor: pointer;
}
#search .searchSubmit:hover
{
    background-position: 0px -16px;
}
#userConsole
{

    position: absolute;
    top: 86px;
    right:715px;
}

#userConsole span.unLogged
{
    margin-top: 9px;
    background: url(../images/profile/profileLoginConsole-bg.png) no-repeat center;
    height: 36px;
    width: 218px;
    display: block;
    position: relative;
}
span.unLogged form.login
{
    display:block;
    height:30px;
    position:absolute;
    right:7px;
    top:3px;
    width:206px;
}
span.unLogged form.login input.text
{
    background: white url(../images/profile/profileLogin-bg.png) no-repeat left;
    width: 71px;
    height: 16px;
    display: block;
    float: right;
    margin-left: 5px;
    padding: 0 4px;
    text-align: left;
    direction: ltr;
    border: 0;
    color: #888888;
}
span.unLogged form.login input.profileLoginsubmit
{
    background: url(../images/profile/loginSubmit.png);
    background-position: 0 0;
    width: 38px;
    height: 16px;
    display: block;
    border: 0;
}
span.unLogged form.login input.profileLoginsubmit:hover
{
    background-position: 0 -16px;
}
span.unLogged span.register
{
    display:block;
    height:20px;
    position:absolute;
    right:180px;
    top:18px;
    width:35px;
}
span.register a
{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 9px;
    display: block;
    margin-top: 3px;
}

#userConsole span.main
{
    background: url(../images/profile/user_console.gif) no-repeat center;
    height: 59px;
    width: 218px;
    display: block;
    position: relative;
}
#userConsole img
{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 8px;
    right:7px;
    background: #FFFFFF;
}
#userConsole span.name
{
    position: absolute;
    width: 105px;
    font-size: 10px;
    font-weight:bold;
    top: 12px;
    right:67px;
    font-size: 9px;
}
#userConsole span.name a
{
    color: #FFFFFF;
    text-decoration: none;
}

#userConsole span.logout
{
    position:absolute;
    right:172px;
    top:3px;
}
#userConsole span.farm
{
    position:absolute;
    right:67px;
    top:26px;
}
#userConsole span.farm a
{
    text-decoration: none;
    color: #FFFFFF;
}
span.logout img
{
    width: 32px !important;
    height: 32px !important;
    background: none !important;
}
#navigation
{
width:300px;
}
#navigation ul
{
    display: inline;
}
#navigation ul li
{
    list-style:  url(../images/home/nav-bullet.png);
    color: #FFFFFF;
    margin-right: 35px;
    font-weight: bold;
    float: right;
}
#navigation ul li a
{
    text-decoration: none;
    color: #FFFFFF;
}

/*TODO must be change in home page
#content
{
 background: #526329  url(../images/profile/content.gif) repeat-x  center;
 overflow: auto;
}*/

#footer {
}
#footer-up
{
    background: #d1a000 url(../images/home/footer-up.png) no-repeat bottom;
    height: 115px;
    display: block;
}
#topUserHolder
{
    background: url(../images/home/topUser-bg.jpg) no-repeat bottom;
    width: 940px;
    height: 95px;
    display: block;
    padding-top: 11px;
    margin: 0 auto;
}
#bestUserRanks
{
    width: 300px;
    height: 80px;
    float: left;
    margin: 15px 0 0 14px;
}
#newUsers
{
    height:80px;
    margin-right:111px;
    margin-top:15px;
    width:300px;
    float: right;
}

.userHolder
{
    width: 300px;
    height: 80px;
    display: block;
    float: left;
}
.userHolder .perUserItem
{
    width: 65px;
    height: 80px;
    display: block;
    float: right;
}
.perUserItem a
{
    text-decoration: none;
}
.perUserItem a img
{
    margin: 0 10px 5px 10px;
    clear: both;
}
.perUserItem a span
{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    clear: both;
    margin: 0 auto;
    width: 50px;
    display: block;
    font-size: 9px;
}

#footer-bottom
{
    background: #930044;
    height: 35px;
    display: block;
}
#footer-bottom p
{
    color: #d0bbc5;
    font-size: 10px;
    font-style: italic;
}
#registration
{
    background: url(../images/registration/main.png) no-repeat center;
    height: 429px;
    width: 869px;
    display: block;
    margin: 0 auto;
    position: relative;
}
#registerRules
{
    display: block;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 55px;
    overflow: auto;
}
#registerRules ul li
{
    list-style:  none;
    color: #FFFFFF;
    margin-right: 35px;
	margin-bottom: 11px;
    font-size: 11px;
}
#registerRules ul li img
{
	vertical-align:middle;
	margin-left:5px;
}

#registerForm
{
    position: absolute;
    top: 30px;
    right: 290px;
    color: #FFFFFF;
}

.registerFormLable
{
    color:#FFFFFF;
    font-weight:bold;
    padding:5px 0 5px 10px;
    text-align:left;
}
.registerFormInput
{
    width: 182px;

}

.registerElement
{
    background:#699500;
    border:1px solid #32490D;
    color:#FFFFFF;
    height: 20px;
    width: 177px;
    font-weight: lighter;
    font-family: Tahoma;
}
.registerDateElement
{
    width:45px;
    text-align:center;
    background:#699500;
    border:1px solid #32490D;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: Tahoma;
}
.captcha
{
    text-align: left;
    padding: 15px 0 10px 0;
}
.captcha_img
{
    background: #FFFFFF;
    padding: 3px;
    border:2px solid #699500;
}
.captchaText
{
	margin-left:80px;
}
.submit
{
    background: url(../images/registration/submit.png) no-repeat center !important;
    display: block;
    border: 0 !important;
    width: 63px;
    height: 22px;
    margin-right: 120px;
    cursor: pointer;
}


/*
* Home
*/

#homeWrapper
{
    width: 955px;
    overflow: auto;
}
#leftBox
{   float: right;
    width: 479px;
    height: 370px;
    display: block;
    background: url(../images/home/home-left.jpg) no-repeat center;
    position: relative;
}
#registrationHotspot a
{
    cursor:pointer;
    height:90px;
    left:92px;
    position:absolute;
    top:34px;
    width:100px;
}
#rightBox
{   float: right;
    width: 447px;
    height: 370px;
    display: block;
    background: url(../images/home/home-right.jpg) no-repeat center;
    position: relative;
}
#welcome
{
    width: 345px;
    height: 90px;
    display: block;
    position: absolute;
    top: 14px;
    right: 90px;
}
#welcome .title
{
    width: 262px;
    height: 29px;
    display: block;
    background: url(../images/home/welcome.png) no-repeat center;
}
#welcome .description
{
    width: 262px;
    height: 70px;
    display: block;
    font-size: 11px;
    margin-top: 6px;
}
#loginFormHolder
{
    width: 210px;
    height: 108px;
    display: block;
    position: absolute;
    top: 120px;
    right: 2px;
}
#loginFormHolder .title
{
    display: block;
    width: 86px;
    height: 16px;
    background: url(../images/home/loginTitle.png) no-repeat center;
    margin: 7px 7px 0 0;
}
#loginFormHolder .titleLogged
{
    display: block;
    width: 161px;
    height: 27px;
    background: url(../images/home/loginTitle-logged.png) no-repeat center;
    margin: 7px 7px 0 0;
}
#loginFormHolder .register
{
    display: block;
    width: 68px;
    height: 16px;
    margin: 7px 7px 0 0;
    float: left;

}
#loginFormHolder .register a
{
    font-size: 11px;
}

#loginFormHolder .form
{
    display: block;
    height: 75px;
    width: 152px;
    margin: 7px auto 0;

}
#loginFormHolder .form input.input
{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: left;
    border: 0;
    background: url(../images/home/loginField.png) no-repeat center;
    width: 152px;
    height: 19px;
    margin-bottom: 6px;
    color: #666666;
    direction: ltr;
}

#loginFormHolder .form input.loginSubmit
{
    border: 0;
    background: url(../images/home/loginSubmit.png) no-repeat;
    background-position: 0 0;
    width: 52px;
    height:19px;
    margin-bottom: 6px;
    color: #888888;
    float: left;
    cursor: pointer;
}
#loginFormHolder .form input.loginSubmit:hover
{
    background-position: 0 -19px;
}
#productAmount
{
    width: 220px;
    height: 110px;
    display: block;
    position: absolute;
    top: 120px;
    left: 0px;
}
#productAmount .counter
{
    width: 200px;
    height: 40px;
    display: block;
    margin: 7px 9px 0 0;
}
.counter .numbers
{
    background: url(../images/home/numbers.png) no-repeat 0px 0px;
    height: 40px;
    width: 30px;
    display: block;
    float: right;
}
#productAmount .discription
{
    width: 200px;
    height: 55px;
    display: block;
    margin: 4px 9px 3px 0;
    color: #ffed71;
}

#bestFarmers
{
    width: 440px;
    height: 110px;
    display: block;
    position: absolute;
    top: 245px;
    right: 2px;
}
#bestFarmers .title
{
    width: 141px;
    height: 17px;
    background: url(../images/home/bestFarmerTitle.png) no-repeat;
    margin: 6px 8px 0 0;
}
#bestFarmers .userList
{
    width: 141px;
    height: 17px;
    margin-top: 6px;
    height:75px;
    width:425px;
}
.userList ul
{
    display: inline;
    list-style: none;
}
.userList ul li
{
    float: right;
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 5px;
}
.userList ul li a img
{
    height: 57px;
    width: 57px;
    display: block;
    margin: 0 auto;
    clear: both;
    background: #eee;
}
.userList ul li a span
{
    height: 14px;
    width: 70px;
    display: block;
    margin: 4px auto 0;
    text-align: center;
    clear: both;
    font-size: 9px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}


.tooltip
{
    background: url(../images/farm/tooltip-bg.png) repeat;
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    position: absolute;   /* required */
    display: none;
    z-index: 9999;
    font-size: 10px;
}


.whiteBoldLink
{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 9px;
}

#ajaxHolder
{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index:5;
    display: none;
}
/*******footerPanel*******/
.notificationDate
{
    font-style: italic;
    font-size: 9px;
    color: #888888;
}
#footpanel {width:300px;float: right;right:17px}
#footpanel ul {list-style: none;display: block}
#footpanel ul li{
	padding: 0; margin: 0;
	float: left;
	position: relative;
}
#footpanel ul li a{
	float: left;
	/*text-indent: -9999px; --For text replacement - Shove text off of the page--*/
	text-decoration: none;
	color: #333;
        height: 22px;
	position: relative;
}
#notificationCounter
{
    display: block;
    padding: 2px 22px 0 0;
    color: #FFFFFF;
}
html #footpanel ul li a:hover{	background-color: #fff; text-decoration: none;}
html #footpanel ul li a.active { /*--Active state when sub-panel is open--*/
	background-color: #fff;
	height: 22px;
	z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
	position: relative;
}

/*MUST CHANGE*/

a.alerts
{
    width: 43px;
    height: 22px;
    display: block;
    background: #91b33f url(../images/farm/notification_counter.png) no-repeat  center;
    background-position: 0 0;
    position: absolute;
    top: 1px;
    right: 17px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    float: right;
}
a.alerts:hover
{
    background-position: 0 -22px;
}

#footpanel li#alertpanel {	float: right;width: 43px; }  /*--Right align the chat and alert panels--*/
/*END MUST CHANGE*/

#footpanel a small {
	text-align: center;
	width: 70px;
	background: url(../images/footer-popup.gif) no-repeat center bottom;
	padding: 5px 5px 11px;
	display: none; /*--Hide by default--*/
	color: #fff;
	font-size: 1em;
	text-indent: 0;
}


#footpanel a:hover small{
	display: block; /*--Show on hover--*/
	position: absolute;
	top: -35px; /*--Position tooltip 35px above the list item--*/
	left: 50%;
	margin-left: -40px; /*--Center the tooltip--*/
	z-index: 9999;
        text-decoration: none;
}

#footpanel ul li div a { /*--Reset link style for sub-panel links--*/
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
        float: left;
}
#footpanel ul li div a:hover {	text-decoration: none;border:0; } /*--Reset hover style for sub-panel links--*/
#footpanel .subpanel {
	position: absolute;
	left: 0;
        right: 17px;
        bottom: 22px;
	display: none;	/*--Hide by default--*/
	width: 198px;
	border: 2px solid #609334;
	background: #fff;
	overflow: hidden;
        z-index: 9999;
}
#footpanel h3 {
	background: #609334;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.1em;
	cursor: pointer;
}
#footpanel h3 span { /*--Right aligned "-" icon--*/
	font-size: 1.5em;
	float: right;
	line-height: 0.6em;
	font-weight: normal;
}
#footpanel .subpanel ul{
	padding: 0; margin: 0;
	background: #fff;
	width: 198px;
	overflow: auto;
}
#footpanel .subpanel li{
	float: none; /*--Reset float--*/
	display: block;
	padding: 0; margin: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: static;  /*--Reset relative positioning--*/
	font-size: 0.9em;
        text-align: right;
}

#alertpanel .subpanel {  left: auto; /*--Reset left positioning and make it right positioned--*/ }
#alertpanel .subpanel li {
	border-top: 1px solid #899903;
	display: block;
        background: #FFE45A;
}
#alertpanel .subpanel li p {padding: 5px 10px;color:#222222;}
#alertpanel .subpanel li a.delete{
	background: url(../images/delete_x.gif) no-repeat;
	float: right;
	width: 13px; height: 14px;
	margin: 5px;
	text-indent: -9999px;
	visibility: hidden; /*--Hides by default but still takes up space (not completely gone like display:none;)--*/
}
#alertpanel .subpanel li a.delete:hover { background-position: left bottom; }
#footpanel #alertpanel li.view {
	text-align: right;
	padding: 5px 10px 5px 0;
}

/*******EndFooterPanel*******/


.genericPage
{
    background: url(../images/home/generic-bg.jpg);
    width: 955px;
    height: 370px;
    display: block;
    position: relative;
}
.genericContainer
{
    background: url(../images/home/genericContainer.jpg);
    width: 789px;
    height: 310px;
    display: block;
    position: absolute;
    top: 19px;
    right: 81px;

}
.forgotContainer
{
    background: url(../images/home/forgot.jpg) no-repeat;
    display:block;
    height:148px;
    position:absolute;
    right:215px;
    top:55px;
    width:444px;
}
.forgotDescription
{
    height:50px;
    width:300px;
    color: white;
    font-size: 10px;
    padding: 8px 125px 0 0;
}
.forgotForm
{
    height:30px;
    width:300px;
    display: block;
    padding: 8px 125px 0 0;
}
.forgotForm table
{
    height:30px;
    width:300px;
}
.helpContainerHolder
{
    padding-right:25px;
    width:675px;
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-top:20px;
}
.helpContainer
{
    width:675px;
    height: 250px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}
.helpTitle
{
    color: #D3A908;
    font-weight: bold;
    font-size: 14px;
    clear: both;
    display: block;
}

.linkToHome
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.loginBoxLogged ul li a
{
    text-decoration: none;
    color: white;
}