* { padding: 0; margin: 0; }

body {
 font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
 font-size: 12px;
 direction: rtl;
 color: #FFFFFF;
 text-decoration: none;
}

p {
 padding: 10px;
}

#wrapper {
 margin: 0 auto;
}

.main
{
    width: 955px;
    margin : 0 auto;
}



#header {
 height: 157px;
 background: #930044 url(../images/home/wrapper-header.png) repeat-x  center;

}

#header .main
{
 background:  url(../images/home/header-main.png) no-repeat right;
 display: block;
 height: 157px;
 position: relative;
}
#navigation
{
    height: 20px;
    display: block;
    position: absolute;
    top: 54px;
    right: 270px;
}
#farmNameHolder
{
    height: 36px;
    width: 250px;
    display: block;
    position: absolute;
    top: 95px;
    right: 270px;
    padding-top: 4px;
}
#farmNameHolder a
{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#search
{
    width: 290px;
    height: 20px;
    position: absolute;
    top: 54px;
    left: 10px;
}
#search .label
{
    font-size: 11px;
    font-weight: bold;
    float: right;
    width: 45px;
}
#search .searchInput
{
    float: right;
    width: 193px;
    height: 16px;
    background: url(../images/profile/search.gif) no-repeat center;
}
#search .searchInput input
{
    border: 0;
    height: 15px;
    width: 100px;
    margin-right:3px;
}
#search .searchInput select
{
    border: 0;
    height: 15px;
    width: 70px;
    margin-right:12px;
    font-size: 10px;
    font:tahoma;
}
#search .searchSubmit
{
    background: url(../images/profile/search_submit.gif) no-repeat center;
    background-position: 0 0;
    display: block;
    border: 0 !important;
    width: 44px;
    height: 16px;
    float: left;
    font-size: 11px;
    cursor: pointer;
}
#search .searchSubmit:hover
{
    background-position: 0px -16px;
}
#userConsole
{
    height: 59px;
    width: 218px;
    display: block;
    position: absolute;
    top: 86px;
    right:715px;
    background: url(../images/profile/user_console.gif) no-repeat center;
}
#userConsole span
{
    position: relative;
    width: 218px;
}
#userConsole img
{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 8px;
    right:7px;
    background: #FFFFFF;
}
#userConsole span.name
{
    position: absolute;
    width: 130px;
    font-size: 11px;
    font-weight:bold;
    top: 12px;
    right:67px;

}
#userConsole span.name a
{
    color: #FFFFFF;
    text-decoration: none;
}

#userConsole span.date
{
    font-size:10px;
	position:absolute;
	right:67px;
	top:27px;
	width:130px;
}
#navigation
{
width:300px;
}
#navigation ul
{
    display: inline;
}
#navigation ul li
{
    list-style:  url(../images/home/nav-bullet.png);
    color: #FFFFFF;
    margin-right: 35px;
    font-weight: bold;
    float: right;
}
#navigation ul li a
{
    text-decoration: none;
    color: #FFFFFF;
}

/*TODO must be change in home page
#content
{
 background: #526329  url(../images/profile/content.gif) repeat-x  center;
 overflow: auto;
}*/

#footer {
}
#footer-up
{
    background: #d1a000 url(../images/home/footer-up.png) no-repeat bottom;
    height: 140px;
    display: block;
}
#footer-bottom
{
    background: #930044;
    height: 35px;
    display: block;
}
#footer-bottom p
{
    color: #d0bbc5;
    font-size: 10px;
    font-style: italic;
}
#registration
{
    background: url(../images/registration/main.png) no-repeat center;
    height: 429px;
    width: 869px;
    display: block;
    margin: 0 auto;
    position: relative;
}
#registerRules
{
    display: block;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 55px;
    overflow: auto;
}
#registerRules ul li
{
    list-style:  none;
    color: #FFFFFF;
    margin-right: 35px;
	margin-bottom: 11px;
    font-size: 11px;
}
#registerRules ul li img
{
	vertical-align:middle;
	margin-left:5px;
}

#registerForm
{
    position: absolute;
    top: 30px;
    right: 290px;
    color: #FFFFFF;
}

.registerFormLable
{
    color:#FFFFFF;
    font-weight:bold;
    padding:5px 0 5px 10px;
    text-align:left;
}
.registerFormInput
{
    width: 182px;

}

.registerElement
{
    background:#699500;
    border:1px solid #32490D;
    color:#FFFFFF;
    height: 20px;
    width: 177px;
    font-weight: lighter;
    font-family: Tahoma;
}
.registerDateElement
{
    width:45px;
    text-align:center;
    background:#699500;
    border:1px solid #32490D;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: Tahoma;
}
.captcha
{
    text-align: left;
    padding: 15px 0 10px 0;
}
.captcha_img
{
    background: #FFFFFF;
    padding: 3px;
    border:2px solid #699500;
}
.captchaText
{
	margin-left:80px;
}
.submit
{
    background: url(../images/registration/submit.png) no-repeat center !important;
    display: block;
    border: 0 !important;
    width: 63px;
    height: 22px;
    margin-right: 120px;
    cursor: pointer;
}


/*
* Home
*/

#homeWrapper
{
    width: 955px;
    overflow: auto;
}
#leftBox
{   float: right;
    width: 479px;
    height: 370px;
    display: block;
    background: url(../images/home/home-left.jpg) no-repeat center;
}
#rightBox
{   float: right;
    width: 447px;
    height: 370px;
    display: block;
    background: url(../images/home/home-right.jpg) no-repeat center;
    position: relative;
}
#welcome
{
    width: 345px;
    height: 90px;
    display: block;
    position: absolute;
    top: 14px;
    right: 90px;
}
#welcome .title
{
    width: 262px;
    height: 29px;
    display: block;
    background: url(../images/home/welcome.png) no-repeat center;
}
#welcome .description
{
    width: 262px;
    height: 70px;
    display: block;
    font-size: 11px;
    margin-top: 6px;
}
#loginFormHolder
{
    width: 210px;
    height: 108px;
    display: block;
    position: absolute;
    top: 120px;
    right: 2px;
}
#loginFormHolder .title
{
    display: block;
    width: 86px;
    height: 16px;
    background: url(../images/home/loginTitle.png) no-repeat center;
    margin: 7px 7px 0 0;
}
#loginFormHolder .form
{
    display: block;
    height: 75px;
    width: 152px;
    margin: 7px auto 0;

}
#loginFormHolder .form input.input
{
    border: 0;
    background: url(../images/home/loginField.png) no-repeat center;
    width: 152px;
    height: 19px;
    margin-bottom: 6px;
    color: #666666;
}

#loginFormHolder .form input.loginSubmit
{
    border: 0;
    background: url(../images/home/loginSubmit.png) no-repeat;
    background-position: 0 0;
    width: 52px;
    height:19px;
    margin-bottom: 6px;
    color: #888888;
    float: left;
    cursor: pointer;
}
#loginFormHolder .form input.loginSubmit:hover
{
    background-position: 0 -19px;
}
#productAmount
{
    width: 220px;
    height: 110px;
    display: block;
    position: absolute;
    top: 120px;
    left: 0px;
}
#productAmount .counter
{
    width: 200px;
    height: 40px;
    display: block;
    margin: 7px 9px 0 0;
}
.counter .numbers
{
    background: url(../images/home/numbers.png) no-repeat 0px 0px;
    height: 40px;
    width: 30px;
    display: block;
    float: right;
}
#productAmount .discription
{
    width: 200px;
    height: 55px;
    display: block;
    margin: 4px 9px 3px 0;
    color: #ffed71;
}

#bestFarmers
{
    width: 440px;
    height: 110px;
    display: block;
    position: absolute;
    top: 245px;
    right: 2px;
}
#bestFarmers .title
{
    width: 141px;
    height: 17px;
    background: url(../images/home/bestFarmerTitle.png) no-repeat;
    margin: 6px 8px 0 0;
}
#bestFarmers .userList
{
    width: 141px;
    height: 17px;
    margin-top: 6px;
    height:75px;
    width:425px;
}
.userList ul
{
    display: inline;
    list-style: none;
}
.userList ul li
{
    float: right;
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 5px;
}
.userList ul li a img
{
    height: 57px;
    width: 57px;
    display: block;
    margin: 0 auto;
    clear: both;
    background: #eee;
}
.userList ul li a span
{
    height: 14px;
    width: 70px;
    display: block;
    margin: 4px auto 0;
    text-align: center;
    clear: both;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
}