.jcarousel-skin-tango .jcarousel-container {
    float: left;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 130px;
    padding: 0px 45px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  142px;
    height: 82px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 66px;
    height: 82px;
    background: url(../images/profile/rank_holder.gif) no-repeat;
    position: relative;
}
.jcarousel-item .rankThumb img
{
    position: absolute;
    top: 27px;
    left: 11px;
}
.jcarousel-item .rankThumbDetails
{
    position: absolute;
    top: 49px;
    left: 37px;
    font-weight: bold;
}
.jcarousel-item .topLevel
{
    position: absolute;
    top: 24px;
    left: 23px;
    font-size: 24px;
    font-weight: bold;
}
.jcarousel-item .topLevelLabel
{
    position: absolute;
    top: 52px;
    left: 20px;
    font-weight: bold;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 31px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/profile/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 31px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/profile/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
