tr {
	height:22px;
	text-align:right;
}

.captcha_img {
	border:1px solid #f6f6f6;
	cursor:pointer;
}

.title {
	background:url("../../images/inside/how_to_play/title.png") no-repeat top left;
	height:45px;
	width:175px;
}